<ion-view hide-nav-bar="true" hide-back-button="true" cache-view="false">
  <ion-header-bar align-title="center" class="bar-calm">
    <div class="buttons">
      <button class="button button-clear" ng-click="back()">Back</button>
    </div>
    <h1 class="title">Trip Details</h1>
  </ion-header-bar>
  <ion-content class="text-center" scroll="false">
    <div class="block-sender">
      <div class="title-sender text-left title-text"><p>Sender</p></div>
      <div class="sender-content item-avatar text-left">
        <img ng-src="img/perl.png">
        <div></div>
      </div>
    </div>
    <div class="block-lugg">
      <div class="title-lugg  text-left title-text"><p>Item</p></div>
      <div class="lugg-content item-avatar text-left">
        <img ng-src="img/perl.png">
      </div>
    </div>
    <div class="block-trip">
      <div class="title-trip text-left title-text"><p>Trip</p></div>
      <div clss="trip-content">

      </div>
    </div>
    <div  class="btn-group row">
      <div class="col col-50"><button class="button button-small button-assertive stretch-80 font-2x"  ng-click="acceptRequest()">Accept</button></div>
      <div class="col col-50"><button class="button button-small button-assertive stretch-80 font-2x"  ng-click="declineRequest()">Decline</button></div>
    </div>
  </ion-content>
  <div ng-include src="'views/tabs/tabs.html'"></div>
</ion-view>
