<ion-view hide-nav-bar="true" hide-back-button="true" cache-view="false">
  <ion-content class="login-5 text-center" scroll="false">

    <!--top-->
    <div class="padding">
       <img class="padding text-center" src="img/cup.png" width="130px">
      <h2 class="text-light cookie-text rm-margin">Luggage Share</h2>
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)">
      <div class="list padding text-center">
          <label class="item item-input first-input">
              <input name="username" type="text" ng-model="user.username" placeholder="Username" ng-minlength="5" ng-maxlength="30" required>
          </label>
          <label class="item item-input">
              <input name="email" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
          </label>
          <label class="item item-input">
              <input name="password" type="password" ng-model="user.password" placeholder="Password" ng-minlength="5" ng-maxlength="30" required>
          </label>
        </div>
        <div class="btn-holder relative-pos">
          <button class="button button-calm button-block shadow  animated bounceIn">Sign up</button>
          <button class="button button-calm button-block b-margin-6vh shadow  animated bounceIn" ng-click="back()">Back to Login</button>
          <!--<a class="text-light">Login</a>-->
        </div>
    </div>

    <!--footer-->
    <div class="footer-content btn-holder">
      <!-- <button class="button button-calm button-block b-margin-6vh shadow  animated bounceIn">Sign up</button> -->
      <!--<a class="text-light">Login</a>-->
    </div>



  </ion-content>
</ion-view>
