<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false">
  <ion-header-bar align-title="center" class="bar-calm">
    <h1 class="title">Profile</h1>
  </ion-header-bar>
  <ion-content class="has-footer padding-horizontal">
      <div class="one-forth-height row">
        <div class="col col-60 text-left">
          <h1 class="text-left margin-top20 font-3x">Chris Bauer</h1>
          <p class="font-2x">View and edit profile</p>
        </div>
        <div class="col col-40">
          <img ng-src="img/mike.png" id="profilePic" class="profileProfilePic" imageonload="constrainProportion()" ng-click="changeProfilePic()"/>
        </div>
      </div>
      <div class="list">
        <ion-list>
          <ion-item class='item text-left item-icon-right one-tenth-height border-horizontal' >
            <h2 class="text-left font-2x">Invite friendes</h2>
            <i class="icon ion-ios-personadd-outline line-height-75"></i>
          </ion-item>
          <ion-item class='item text-left item-icon-right one-tenth-height border-horizontal' >
            <h2 class="text-left font-2x">Settings</h2>
            <i class="icon ion-ios-gear-outline line-height-75"></i>
          </ion-item>
          <ion-item class='item text-left item-icon-right one-tenth-height border-horizontal' >
            <h2 class="text-left font-2x">Help & Support</h2>
            <i class="icon ion-help-buoy line-height-75"></i>
          </ion-item>
          <ion-item class='item text-left item-icon-right one-tenth-height border-horizontal' >
            <h2 class="text-left font-2x">Why luggage share</h2>
            <i class="icon ion-ios-heart-outline line-height-75"></i>
          </ion-item>
          <ion-item class='item text-left item-icon-right one-tenth-height border-horizontal' >
            <h2 class="text-left font-2x">Give us feedback</h2>
            <i class="icon ion-ios-paper-outline line-height-75"></i>
          </ion-item>
          <ion-item>
            <button class="button button-block button-calm profile-button" ng-click="logout()"><i class="icon ion-log-out"></i>&nbsp;&nbsp;<b>Logout</b></button>
          </ion-item>
        </ion-list>
      </div>
  </ion-content>
  <div ng-include src="'views/tabs/tabs.html'"></div>
</ion-view>
