<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false">
  <ion-header-bar align-title="center" class="bar-energized">
    <h1 class="title">Profile</h1>
  </ion-header-bar>
  <ion-content class="padding has-footer">
    <div class="row">
      <div class="col col-50">
        <img ng-src="{{profile.profilePic}}" id="profilePic" class="profileProfilePic" imageonload="constrainProportion()" ng-click="changeProfilePic()"/>
      </div>
      <div class="col col-50">
        <div class="list">
          <label class="item item-input clear-border margin-bottom-10">
            <span class="input-label profile-inline-icon"><i class="icon ion-person energized"></i></span>
            <input disabled class="disabled-input-style" name="name" type="text" ng-model="profile.name" placeholder="Name">
          </label>
          <label class="item item-input clear-border margin-bottom-10">
            <span class="input-label profile-inline-icon"><i class="icon ion-at assertive"></i></span>
            <input disabled class="disabled-input-style" name="name" type="text" ng-model="profile.username" placeholder="Username">
          </label>
          <label class="item item-input clear-border margin-bottom-10">
            <span class="input-label profile-inline-icon"><i class="icon ion-calendar calm"></i></span>
            <input disabled class="disabled-input-style" name="name" type="text" ng-model="profile.date" placeholder="Member Since">
          </label>
          <label class="item item-input clear-border margin-bottom-10">
            <span class="input-label profile-inline-icon"><i class="icon ion-link balanced"></i></span>
            <input disabled class="disabled-input-style" name="name" type="text" ng-model="profile.provider" placeholder="Provider">
          </label>
        </div>
      </div>
    </div>
    <div class="button-bar">
      <button class="button button-block button-balanced profile-button" ng-click="changeTab('messages', 0)"><i class="icon ion-chatbox"></i>&nbsp;&nbsp;<b>Messages</b></button>
      <button class="button button-block button-energized profile-button" ng-click="changeTab('groups', 1)"><i class="icon ion-chatboxes"></i>&nbsp;&nbsp;<b>Groups</b></button>
    </div>
    <div class="button-bar">
      <button class="button button-block button-assertive profile-button" ng-click="changeTab('friends', 2)"><i class="icon ion-ios-people"></i>&nbsp;&nbsp;<b>Friends</b></button>
      <button class="button button-block button-calm profile-button" ng-click="logout()"><i class="icon ion-log-out"></i>&nbsp;&nbsp;<b>Logout</b></button>
    </div>
    </div>
  </ion-content>
  <div ng-include src="'views/tabs/tabs.html'"></div>
</ion-view>
