<ion-view hide-nav-bar="true" hide-back-button="true" cache-view="false">
  <ion-header-bar align-title="center" class="bar-calm">
    <div class="buttons">
      <button class="button button-clear" ng-click="back()"><i class="icon ion-ios-arrow-left"></i></button>
    </div>
    <h1 class="title">Item Details</h1>
  </ion-header-bar>
  <ion-content class="text-left gray-background" scroll="false">
    <div class="two-third-height">
      <ion-list>
        <ion-item class="fit-height item-avatar item-icon-right text-left item-divider clear-padding-margin" type="item-text-wrap" href="">
          <img ng-src="img/perl.png">
          <input class="text-left margin-left10 font-2x-4 transparent" type="text" ng-model="itemInfo.name">
        </ion-item>
        <ion-item class="item item-icon-right text-left margin-left20 border-horizontal clear-padding-vertical">
          <h2 class="text-left font-2x">Quantity</h2>
          <input class="input-flex" type="text" ng-model="itemInfo.quantity">
        </ion-item>
        <ion-item class="item item-icon-right text-left margin-left20 border-horizontal clear-padding-vertical">
          <h2 class="text-left font-2x">Weight</h2>
          <input class="input-flex" type="text" ng-model="itemInfo.weight">
        </ion-item>
        <ion-item class="item item-icon-right text-left margin-left20 border-horizontal clear-padding-vertical">
          <h2 class="text-left font-2x">Dimensions</h2>
          <input class="input-flex" type="text" ng-model="itemInfo.dimension" placeholder="dimension">
        </ion-item>
        <ion-item class="item item-icon-right text-left margin-left20 border-horizontal clear-padding-vertical">
          <h2 class="text-left font-2x">Description</h2>
          <input class="input-flex" type="text" ng-model="itemInfo.description" placeholder="description">
        </ion-item>
        <ion-item class="item item-icon-right text-left margin-left20 border-horizontal clear-padding-vertical">
          <h2 class="text-left font-2x">Rewards</h2>
          <input class="input-flex" type="text" ng-model="itemInfo.reward">
        </ion-item>
      </ion-list>
    </div>
    <div class="gray-background" ng-if="mode=='Edit'">
      <div class="item item-avatar-right transparent clear-border padding-vertical-1vh">
          <h2 class="item-content text-right ">Delivered by Fredrick</h2>
          <img class="item-image" ng-src="img/max.png">
      </div>
      <form name="RatingFrom" class="padding-horizontal margin-top-2vh" ng-submit="rating()">
        <div class="list">
          <ionic-ratings class="text-left rating-box" ratingsobj='ratingsObject' index='0'>{{itemInfo.rating}}</ionic-ratings>
          <label class="item item-input item-clear clear-border">
            <input name="feedback" type="text">
          </label>
          <input type="submit" class="button button-block button-assertive rate-button" value="Rate your experience">
        </div>
      </form>
    </div>
    <div  class="btn-group row" style='text-align:center;' ng-if="mode=='Add'">
      <div class="col"><button class="button button-small button-assertive stretch-80 font-2x"  ng-click="saveItem()">Save</button></div>
    </div>
  </ion-content>
  <div ng-include src="'views/tabs/tabs.html'"></div>
</ion-view>
