<ion-view hide-nav-bar="true" hide-back-button="true"  can-swipe-back="false" cache-view="false">
  <ion-header-bar align-title="center" class="bar-calm">
    <h1 class="title">My Trips</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-plus" ng-click="tripDetail('New')"></button>
    </div>
  </ion-header-bar>
  <ion-content class="text-center" scroll="false">
    <ion-list >
     <ion-item class="item item-thumbnail-left" type="item-text-wrap" ng-repeat="trip in trips track by $index" ng-click="tripDetail('Edit', $index)">
        <img ng-src="img/swift.png">
        <div class="one-half-width text-left padding-top10 margin-top10">
          <h2>{{trip.from}} - {{trip.to}}</h2>
          <p>{{trip.weightAvailable}}</p>
        </div>
        <div class="one-half-width text-left margin-top30">
          <p class="padding-left40">{{getFormattedDate(trip.dateTime)}}</p>
        </div>
        <i class="icon ion-chevron-right line-height-75"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <div ng-include src="'views/tabs/tabs.html'"></div>
</ion-view>
