<ion-view hide-nav-bar="true" hide-back-button="true" cache-view="false">
  <ion-header-bar align-title="center" class="bar-calm">
    <h1 class="title">My Trips</h1>
  </ion-header-bar>
  <ion-content class="text-center" scroll="false">
    <ion-list>
     <ion-item class="item item-thumbnail-left" type="item-text-wrap" href="#/tripDetail">
        <img ng-src="img/swift.png">
        <div class="one-half-width text-left padding-top10 margin-top10">
          <h2>Sydney - Shanghai</h2>
          <p>1kg, small</p>
        </div>
        <div class="one-half-width text-left margin-top30">
          <p class="padding-left40">7 Nov 23:32</p>
        </div>
        <i class="icon ion-chevron-right line-height-75"></i>
      </ion-item>
      <ion-item class="item item-thumbnail-left" type="item-text-wrap" href="#/tripDetail">
         <img ng-src="img/swift.png">
         <div class="one-half-width text-left padding-top10 margin-top10">
           <h2>Sydney - Shanghai</h2>
           <p>1kg, small</p>
         </div>
         <div class="one-half-width text-left margin-top30">
           <p class="padding-left40">7 Nov 23:32</p>
         </div>
         <i class="icon ion-chevron-right line-height-75"></i>
       </ion-item>
       <ion-item class="item item-thumbnail-left" type="item-text-wrap" href="#/tripDetail">
          <img ng-src="img/swift.png">
          <div class="one-half-width text-left padding-top10 margin-top10">
            <h2>Sydney - Shanghai</h2>
            <p>1kg, small</p>
          </div>
          <div class="one-half-width text-left margin-top30">
            <p class="padding-left40">7 Nov 23:32</p>
          </div>
          <i class="icon ion-chevron-right line-height-75"></i>
        </ion-item>
    </ion-list>
  </ion-content>
  <div ng-include src="'views/tabs/tabs.html'"></div>
</ion-view>
