<ion-view hide-nav-bar="true" hide-back-button="true"  can-swipe-back="false" cache-view="false">
  <ion-header-bar align-title="center" class="bar-calm">
    <h1 class="title">My Trips</h1>
    <div class="buttons">
      <button class="button button-clear icon ion-plus" ng-click="tripDetail('New')"></button>
    </div>
  </ion-header-bar>
  <ion-content class="text-center" scroll="false">
    <ion-list >
     <ion-item class="my-trip-item item item-thumbnail-left" type="item-text-wrap" ng-repeat="trip in trips track by $index" >
        <img ng-src="img/swift.png">
        <div class="trip-item-left text-left">
          <h2 class="text-left">{{trip.from}} - {{trip.to}}</h2>
          <p>{{trip.weightAvailable}}</p>
        </div>
        <div class="trip-item-right item-right margin-top5 text-right">
          <p class="padding-left10">{{getFormattedDate(trip.dateTime)}}</p>
          <i class="icon ion-trash-a" ng-click="removeTrip($index)"></i>
          <i class="icon ion-compose" ng-click="tripDetail('Edit', $index)"></i>
        </div>
        <!-- <i class="icon ion-chevron-right line-height-50"></i> -->
      </ion-item>
    </ion-list>
  </ion-content>
  <div ng-include src="'views/tabs/tabs.html'"></div>
</ion-view>
